{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
  <head>
  
    
    {% block title %}
    <title>Đọc truyện miễn cmn phí</title>
    {% endblock %} 
    <link rel="stylesheet" href={% static "index/css/base.css" %}>
    {% comment %} <link href-"{% static "index/css/base.css" %}" rel="stylesheet" /> {% endcomment %}
    {% block css %}
    {% endblock %}
    <style>
      
      
      
      
    </style>

  </head>
</html>
<body >
  <div class="Sidebar" class="content" >
        <ul style="display: flex; flex-direction: row;justify-content: right;align-items: center;list-style-type: none;">
            {% comment %} <li><button id="hideOverlayButton" onclick="Close_Sidebar()"><img src={% static "index/image/close.svg" %} alt=""></button></li>      {% endcomment %}
            <button type="button" style="margin: 10px 10px 0px 0px;" class="btn-close" aria-label="Close" id="hideOverlayButton" onclick="Close_Sidebar()"></button>    
        </ul>
        
          <h4 style="margin: 20px;">Tìm truyện theo bộ lọc</h4>
          <form  role="search" method = POST action = "{% url 'search' %}">           
            <section  style="margin: 10px;">
              {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Từ khóa" aria-label="Search" name = "searched" style = "width : 90%;">
       
              <details open>
                <summary>Lọc theo trạng thái</summary>                 
                  <div class="group">                   
                    <input type="radio" class="hideinput" name="status" value="" id="rb1" checked/>
                    <label for="rb1">Tất cả</label>
                    <input type="radio" class="hideinput" name="status" value="Đang ra" id="rb2" />
                    <label for="rb2">Đang ra</label>
                    <input type="radio" class="hideinput" name="status" value="Full" id="rb3" />
                    <label for="rb3">Full</label>
                  </div>          
              </details> 

              <details open>
                <summary>Lọc theo đánh giá</summary>
                <div class="group">                   
                  <input type="radio" class="hideinput" name="rate" value="0" id="rb101" checked/>
                  <label for="rb101">> 0</label>
                  <input type="radio" class="hideinput" name="rate" value="1" id="rb102" />
                  <label for="rb102">> 1</label>
                  <input type="radio" class="hideinput" name="rate" value="2" id="rb103" />
                  <label for="rb103">> 2</label>
                  <input type="radio" class="hideinput" name="rate" value="3" id="rb104" />
                  <label for="rb104">> 3</label>
                  <input type="radio" class="hideinput" name="rate" value="4" id="rb105" />
                  <label for="rb105">> 4</label>
                </div>
              </details> 

              <details open>
                <summary>Lọc theo thể loại</summary>

                <div class="group">                   
                  <input type="radio" class="hideinput" name="genre" value="" id="rb4" checked/>
                  <label for="rb4">Tất cả</label>
                  <input type="radio" class="hideinput" name="genre" value="1" id="rb5" />
                  <label for="rb5">Tiên Hiệp</label>
                  <input type="radio" class="hideinput" name="genre" value="2" id="rb6" />
                  <label for="rb6">Kiếm Hiệp</label>
                </div>            
                <div class="group">                   
                  <input type="radio" class="hideinput" name="genre" value="3" id="rb7" />
                  <label for="rb7">Ngôn Tình</label>
                  <input type="radio" class="hideinput" name="genre" value="4" id="rb8" />
                  <label for="rb8">Đô Thị</label>
                  <input type="radio" class="hideinput" name="genre" value="5" id="rb9" />
                  <label for="rb9">Khoa Huyễn</label>
                </div>
                <div class="group">                   
                  <input type="radio" class="hideinput" name="genre" value="6" id="rb10" />
                  <label for="rb10">Võng Du</label>
                  <input type="radio" class="hideinput" name="genre" value="7" id="rb11" />
                  <label for="rb11">Dị Giới</label>
                  <input type="radio" class="hideinput" name="genre" value="8" id="rb12" />
                  <label for="rb12">Huyền Huyễn</label>
                </div>
                <div class="group">                   
                  <input type="radio" class="hideinput" name="genre" value="9" id="rb13" />
                  <label for="rb13">Linh Dị</label>
                  <input type="radio" class="hideinput" name="genre" value="10" id="rb14" />
                  <label for="rb14">Quân sự</label>
                  <input type="radio" class="hideinput" name="genre" value="11" id="rb15" />
                  <label for="rb15">Lịch sử</label>
                </div>
              </details> 
              
              <button class="btn btn-outline-success" type="submit" style="margin: 20px 0px 0px 100px;">Tìm</button>
            </section> 
          </form>
                 
  </div>

  <div class="overlay"></div>

  <nav class="navbar_my">
    <ul class="nav_list">
      <li class="nav_item">
        <button id="showOverlayButton" onclick="Open_Sidebar()">
          <img src={% static "index/image/sidebar.svg" %} alt="Open_Sidebar">
        </button>
      </li>
      <li class="nav_item logo">
        <a href="/" >
          <img src={% static "index/image/logo.svg" %} alt="Logo">
          <span>Webnovel</span>
        </a>
      </li>
      <li>
        {% if not user.is_authenticated %}
          <button><a href="{% url 'login' %}">
          <img src={% static "index/image/login.svg" %} alt="Login icon"><span style="font-weight: bold;">Đăng nhập</span>
          </a></button></li>
        {% else %}
              <button style="display: inline-block;" class = "p-1">
                <img src="{% static 'index/image/user.svg' %}" alt="UserIcon">
                <span>{{ user.username }}</span>
            </button>
            
            <button style="display: inline-block;" class = "p-1">
                <a href="{% url 'logout' %}">Đăng xuất</a>
            </button>
            
        {% endif %}
    </ul>
  </nav>
  <div>
    <label class="switch">
      <input onchange="changeBg()" id="Tg" type="checkbox" unchecked>
      <span class="slider round"></span>
    </label>
  </div>
  
  <main>
  {% block content %}{% endblock  %}
  {% block register%}{% endblock %}
  <main>
</body>
<script>
  function Open_Sidebar(){
      document.getElementsByClassName("Sidebar")[0].classList.add("Sidebar--open")
      
  }
  function Close_Sidebar(){
    document.getElementsByClassName("Sidebar")[0].classList.remove("Sidebar--open")
  }
  function changeBg() {
    const checkbox = document.getElementById("Tg");
    const isChecked = checkbox.checked;

    if (isChecked) {
      document.body.classList.replace("bg__black", "bg__white");
    } else {
      document.body.classList.replace("bg__white", "bg__black");
    }
  }

  document.getElementById('showOverlayButton').addEventListener('click', function() {
    // Hiển thị lớp mờ khi nút được nhấn
    document.querySelector('.overlay').style.display = 'block';
  });
  document.getElementById('hideOverlayButton').addEventListener('click', function() {
    // tắt lớp mờ khi nút được nhấn
    document.querySelector('.overlay').style.display = 'none';
  });

</script>