{% extends "base.html" %}
{% load custom_filter %} {% load static %}
  {% block css %} <link rel="stylesheet" href="{% static "index/css/index.css" %}"> {% endblock %}

{% block content %}
<section class="Top_like container">
  <header class="text-center"><h1>Truyen nhieu like nhat</h1></header>
  <div class="Book_list row">
    {% for novel in top_like %}
    
    <a href="#" class="Novelcard col col-lg-5 col-md-4 col-sm-3 col-xl-6">
      <div class="Book_info">
        {{novel.title}}
      </div>
      <div class="Novelcard_cover">
          <img class="Novelcard_img" src="{{novel.cover}}" alt="Cover" />
        <div class="extra">
          <div class="score">
            <span class="star">
              {% comment %} {% with score = novel.rating  %} {% endcomment %}
              {{ novel.rating|rating_star:"⭐" }}
              {% comment %} {% endwith %} {% endcomment %}
            </span>
            <span class="rating">{{novel.rating}}</span>
          </div>
          
        </div>
      </div>
      <div class="Novelcard_body">
        <h5 class="Novelcard_title">{{novel.title}}</h5>
        <div class="Novelcard_text">
          {% for genre in novel.genres.all %}
          <span class="border border-primary rounded-pill p-1"
            >{{genre.name}}</span
          >
          {% endfor %}
        </div>
      </div>
    </a>
    {% endfor %}
  </ul>
</section>
{% endblock %}
