{% extends "base.html" %} {% load static %} {% block content %} {% block css %}
<link rel="stylesheet" href={% static "index/css/index.css" %}> {% endblock %}
<section>
  <header><h1>Truyen nhieu like nhat</h1></header>
  <ul class="Book_list">
    {% for novel in top_like%}
    <li class="Novel_card">
      <img class="Cover" src="{{novel.cover}}" alt="Cover" />
      <div class="Card_info">
        <p class="Title">{{novel.title}}</p>
      {% for genre in novel.genres.all %}
      <span>{{genre.name}}</span>
      {% endfor %}
    </li>
    {% endfor %}
      </div>
      
  </ul>
</section>

{% endblock %}
