.NovelPage {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5vmin;
    /* background-color: aquamarine; */
}
.angelina {
    display: flex;
    /* transform: translateY(50px); */
}
.img_angelina {
    position: relative;

}
.angelina  img {
    margin-left: 5vmin;
    max-width: 20vmin;
    max-height: 20vmin;
}
.eye-socket {
    margin-left: 5vmin;
    font-size: larger;
    border-radius: 100%;
    width: 1.3vmin;
    height: 1.3vmin;
    background-color: black;
          
    background-color: white;
           
    position: relative;
    transform: rotate(200deg);


    
}
@keyframes sink {
    0% {
      transform: translateY(0); /* Không thay đổi vị trí ban đầu */
    }
    50% {
      transform: translateY(30%); /* Dịch chuyển hình ảnh xuống dưới */
    }
    100% {
      transform: translateY(40%); 
    }
  }
  @keyframes reverse_sink {
    0% {
      transform: translateY(40%); /* Không thay đổi vị trí ban đầu */
    }
    50% {
      transform: translateY(30%); /* Dịch chuyển hình ảnh xuống dưới */
    }
    100% {
      transform: translateY(0); 
    }
  }
.sink {
    animation: sink 2s ease forwards;
}
.reverse_sink {
    animation: reverse_sink 2s ease forwards;
}
.dot {
   
        width:0.7vmin;
        height: 0.7vmin;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 4px;

}
.left {
    position: absolute;
    top: 9.4vmin;
    left: 11vmin;
}
.right {
    position: absolute;
    top: 10.2vmin;
    left: 6.5vmin;
}
.main_info {
    border: 0.5px solid rgb(69, 219, 97);
    border-radius: 5px;
    height: 40vmin;
    width: 100%;
    display: grid;
    grid-template-areas: "b a" "b c" "b d";
    grid-template-columns: auto 2fr;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    
}
.main_info span {
    font-weight: 500;
}

.main_info img {
    height: 100%;
    width: 1.5rem;
}

.cover {
    box-sizing: border-box;
    grid-area: b;
    max-height: 300px;
    max-width: 200px;
    width: 100%;
    padding: 2px;
    border-radius: 20px;
}

.cover > img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.infos {
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 2vmin;
    grid-area: c;
    
}

.title {
    grid-area: a;
    background-color: bisque;
    border: 1px solid;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
}

.author {
    font-weight: 500;
    width: auto;
    height: 1.5rem;
}

.status {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.genres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2px;
    flex-wrap:wrap;
    width: auto;
    height: 1.5rem;
    overflow-x:scroll;

}
.genres::-webkit-scrollbar {
    display: none;
}

span {
    margin-left: 5px;
}
.genre {
    padding: 0.2vmin 0.4vmin 0.2vmin 0.5vmin;
    border: 1px solid;
    border-radius: 10px;
    background-color: aqua;
    font-weight: 500;
    font-size: small;
   
}

.user_action {
    grid-area: d;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vmin
    ;
}

.catalogBtn {
    box-sizing: border-box;
    border: 2px solid;
    border-color: rgb(11, 4, 33);
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(104, 104, 237);
    color: aliceblue;
    font-weight: 600;

}

.catalogBtn:hover {
    opacity: 0.9;
}
li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
}
img + * {
    margin-left: 3px;
}
@media only screen and (max-width:600px){
    .NovelPage {
        padding: 1vmin;
    }
    .main_info{grid-template-areas: "a a" "b c" "d d";
        }
    .cover {
        min-width: none;
        min-height: none;
    }
    .main_info span {
        font-size: smaller;
    }
    .title {
        text-align: center;
    }

}

@media only screen and (max-width:900px){
    .NovelPage {
        padding: 2vmin;
    }
    .main_info{grid-template-areas: "a a" "b c" "d d";
        height: 60vmin;

    }
  
    .cover {
        height: 30vmin;
        width: 20vmin;
    }
    .main_info span {
        font-size: small;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .infos span {
        font-size: small;
    }
    .genre {
        overflow: hidden;
    }
}